[submodule "intelligence"]
	path = intelligence
	url = git@github.com:Simsreal/intelligence.git
[submodule "human"]
	path = human
	url = git@github.com:Simsreal/human.git
[submodule "utilities"]
	path = utilities
	url = git@github.com:Simsreal/utilities.git
[submodule "web"]
	path = web
	url = git@github.com:Simsreal/web.git
[submodule "environment"]
	path = environment
	url = git@github.com:Simsreal/environment.git
