[submodule "world"]
	path = world
	url = https://github.com/Simsreal/world
[submodule "intelligence"]
	path = intelligence
	url = https://github.com/Simsreal/intelligence
[submodule "human"]
	path = human
	url = https://github.com/Simsreal/human
[submodule "utilities"]
	path = utilities
	url = https://github.com/Simsreal/utilities
[submodule "web"]
	path = web
	url = https://github.com/Simsreal/web
