flake8
black
isort
pre-commit
pytest
fastapi
icecream
uvicorn
prometheus-client
pddl
streamlit
loguru
rich
mujoco
dm_control
uvicorn[standard]
mlagents
mlagents_envs
httpx
pyzmq
xlstm
torch
matplotlib
torchvision
opencv-python
qdrant-client
