flake8
black
isort
pre-commit
pytest
fastapi
uvicorn
prometheus-client
streamlit
loguru
rich
mujoco==3.2.7
dm_control
uvicorn[standard]
httpx
pyzmq
xlstm
matplotlib
opencv-python
qdrant-client
qdrant-client[fastembed-gpu]
ninja
cupy-cuda12x
nvidia-ml-py
